.nav-bar-container
  .nav-menu
    .hamburger
      span.patty
      span.patty
      span.patty
      span.patty
      span.patty
      span.patty

  .nav-search
    span.search

  .nav-user
    .user
      if user
        if user.profile.picture
          img(src='#{user.profile.picture}')
        else
          img(src='#{user.gravatar(60)}')
    .cross
      span.line
      span.line

  .nav-bar-border

  .overlay
    .starting-point
      span
    .logo &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;LOKKI

  .overlay-secondary